<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

		<bean class="com.springcore_collection.Employee" id="Employee">
			<property name="EmpName">
				<value>Durvesh</value>
			</property>
			
			<property name="PhoneNums">
				<list>
					<value>546468</value>
					<value>68461</value>
					<value>16846</value>
				</list>
			</property>
			
			<property name="Addresses">
				<set>
					<value>6259</value>
					<value>648</value>
					<value>941</value>
				</set>
			</property>
			
			<property name="Courses">
				<map>
					<entry key="Java" value="1Months"/>
					<entry key="Python" value="1.2Months"/>
					<entry key="c++" value="1.5Months"/>
				</map>
			</property>
		</bean>
	</beans>
